FLASK_ENV=development
FLASK_PORT=4242
FLASK_JWT_SECRET=y0ur5up3r53cr37jw753cr3757rin6
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DBNAME=dbname
MONGO_USERNAME=username
MONGO_PASSWORD=username57r0n6p455w0rd
